obj
bin
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.DotSettings.user
*.suo
*.cache
*.Cache
~$*
Thumbs.db
*.cache
.svn
reports
reports/*
*.sln.docstates
*.sln.docstates
*.dotCover